<div class="fixed">
    <div class="row">
        <div class="col-xs-12">
            <img 
            src="{{ electronic.imagePath }}" 
            alt="{{ electronic.name }}" 
            class="image-responsive" 
            style="max-height: 300px;">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ electronic.name }}</h1>
            <h2>{{ electronic.price }}</h2>
            <h4>{{ electronic.description }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
</div>